/* Fallback para entornos sin acceso a Google Fonts en desarrollo */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F9;
  --foreground: #ffffff;
  --primary: #4CAF50; /* Verde */
  --secondary: #FF9800; /* Naranja */
  --accent: #E91E63; /* Rosa */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F9F9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lexend), sans-serif;
}

h1 {
  color: var(--primary);
}

a {
  color: var(--accent);
}

/* Personalización de scrollbar para toda la aplicación */
@layer base {
  html {
    @apply scrollbar scrollbar-thin scrollbar-thumb-[#5e8c30] scrollbar-track-gray-100 hover:scrollbar-thumb-[#91d84b] scrollbar-thumb-rounded-full;
  }
  
  /* Para elementos con overflow-auto o overflow-scroll */
  .overflow-auto,
  .overflow-scroll,
  .overflow-y-auto,
  .overflow-y-scroll,
  .overflow-x-auto,
  .overflow-x-scroll {
    @apply scrollbar scrollbar-thin scrollbar-thumb-[#5e8c30] scrollbar-track-gray-100 hover:scrollbar-thumb-[#98e24e] scrollbar-thumb-rounded-full;
  }
}

/* Clases personalizadas para scrollbars específicas */
@layer components {
  .scrollbar-primary {
    @apply scrollbar scrollbar-thin scrollbar-thumb-[#5e8c30] scrollbar-track-[#5e8c30] hover:scrollbar-thumb-[#96e24b] scrollbar-thumb-rounded-full;
  }
  
  .scrollbar-secondary {
    @apply scrollbar scrollbar-thin scrollbar-thumb-amber-300 scrollbar-track-gray-100 hover:scrollbar-thumb-amber-400 scrollbar-thumb-rounded-full;
  }
  
  .scrollbar-admin {
    @apply scrollbar scrollbar-thin scrollbar-thumb-blue-300 scrollbar-track-gray-100 hover:scrollbar-thumb-blue-400 scrollbar-thumb-rounded-full;
  }


}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}